.container {
  width: 1200px;
  margin: 0 auto;
}

.container-full {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[class^="col-"] {
  margin: 5px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

#peak {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 600px;
}

#peak ul {
  display: inline-block;
}

#peak ul li {
  display: inline-block;
  font-size: 12px;
  margin-left: 15px;
  color: #3d3d47;
  font-weight: 600;
  font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

.orange {
  background: #ffbf11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 284px;
  height: 40px;
  font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.writing_peak {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gray;
}

.fas {
  margin-left: 20px;
  margin-right: 10px;
}

.navigation li:hover {
  cursor: pointer;
}

.header_top_right {
  height: 40px;
  border: 3px solid red;
}

.menu {
  height: 100px;
  border: 2px solid green;
}

.menu .logo {
  height: 100px;
  border: 1px solid yellow;
}

.menu .nav {
  height: 100px;
  border: 1px solid blue;
}

.menu .icon {
  height: 100px;
  border: 1px solid black;
}

.header-nav {
  border-bottom: 1px solid gray;
}

.header-nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .header-nav-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .header-nav-items ul li {
  list-style: none;
  margin: 0px 10px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
}

button {
  border: none;
  background: none;
}

.header-nav .button {
  background-color: #005c8c;
  background: cover;
  border-radius: 5px;
  width: 160px;
  height: 45px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .button .yazi {
  color: #ffbf11;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
}

.button:hover {
  background-color: #ffbf11;
  cursor: pointer;
  width: 100%;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.button:hover .yazi {
  color: black;
}

.person:hover {
  cursor: pointer;
}

.header-nav-items li:hover {
  color: #005c8c;
  cursor: pointer;
}

#special {
  color: #ffbf11;
}

#special_1 {
  color: #ffbf11;
}

#special:hover {
  cursor: pointer;
  color: black;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  position: absolute;
  top: 0px;
  height: 120px;
  width: 120px;
  background: white;
  display: none;
  z-index: 1;
  font: black;
}

.dropdown-content a {
  display: block;
  border-bottom: 1px solid gray;
}

.bu:hover .dropdown-content {
  display: block;
}

.slider {
  height: 370px;
  width: 1183px;
  margin-top: -40px;
  background-size: cover;
  position: relative;
  margin-right: -20px;
}

.slider .slide {
  height: 370px;
  width: 1183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -20px;
}

#next {
  position: absolute;
  top: 305px;
  right: 140px;
  width: 30px;
  height: 30px;
  background-color: yellow;
}

#prev {
  position: absolute;
  top: 305px;
  left: 140px;
  width: 30px;
  height: 30px;
  background-color: yellow;
}

.press:hover {
  background-color: #005c8c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.slide span {
  font-size: 34px;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 250px;
  left: 245px;
}

.contact_us {
  height: 40px;
  width: 100px;
  font-size: 12px;
  font-weight: 700;
  padding-top: 11px;
  padding-right: 11px;
  padding-left: 11px;
  padding-bottom: 11px;
  font-family: "Titillium Web";
  color: black;
  background-color: #ffbf11;
  position: absolute;
  border-radius: 5px;
  top: 355px;
  left: 390px;
}

.contact_us:hover {
  cursor: pointer;
  background-color: black;
  color: #ffbf11;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.yaz {
  height: 40px;
  width: 140px;
  font-size: 12px;
  font-weight: 700;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: 'Titillium Web';
  color: #005c8c;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  top: 355px;
  left: 240px;
}

.yaz:hover {
  cursor: pointer;
  background-color: #005c8c;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.catalogue {
  width: 1180px;
  height: 480px;
  background: url(/img/2-2.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -2px;
  margin-top: -13px;
}

.layout {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout {
  width: 940px;
  height: 340px;
}

.layout .plumbing {
  background: url(/img/plumbing.jpg);
  background-size: cover;
  height: 150px;
  width: 205px;
  margin: 0px;
}

.layout .renovation {
  background: url(/img/renovation.jpg);
  background-size: cover;
  width: 205px;
  height: 150px;
  margin: 0px;
}

.layout .assembly {
  width: 205px;
  height: 150px;
  background: url(/img/asembly.jpg);
  background-size: cover;
}

.layout .windows {
  width: 205px;
  height: 150px;
  background: url(/img/windows.jpg);
  background-size: cover;
}

.layout .painting {
  width: 205px;
  height: 150px;
  background: url(/img/painting.jpg);
  background-size: cover;
}

.layout .electrical {
  width: 205px;
  height: 150px;
  background: url(/img/electrical.jpg);
  background-size: cover;
}

.layout .carpentry {
  width: 205px;
  height: 150px;
  background: url(/img/carpentry.jpg);
  background-size: cover;
}

.layout .flooring {
  width: 205px;
  height: 150px;
  background: url(/img/flooring.jpg);
  background-size: cover;
}

.plumbing {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  color: white;
}

.plumbing:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.plumbing a:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
}

.plumbing a {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  color: white;
}

.renovation {
  font-size: 26px;
  font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.renovation:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.renovation span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.windows {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.windows:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.windows span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.carpentry {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.carpentry:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.carpentry span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.painting {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.painting:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.painting span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.electrical {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.electrical:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.electrical span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.flooring {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.flooring:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.flooring span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.assembly {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.assembly:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.assembly span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

#statistics {
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(/img/stats.png);
  margin-left: 70px;
  border-left: 1px solid black;
}

#about_us {
  height: 700px;
  margin-bottom: -5px;
  margin-left: -5px;
}

#about_us .info {
  height: 150px;
  width: 1180px;
}

#about_us .main {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.full-view {
  background: url(/img/about_us.jpg);
  height: 700px;
  width: 1183px;
}

.birinci {
  margin-bottom: 15px;
  margin-left: 15px;
}

.birinci span {
  color: #ffbf11;
  font-weight: 700;
}

#fname {
  background: #4085a9;
  margin-bottom: 15px;
  margin-left: 15px;
}

#email {
  background: #4085a9;
  margin-bottom: 15px;
  margin-left: 15px;
}

#phone {
  background: #4085a9;
  margin-bottom: 15px;
  margin-left: 15px;
}

#area {
  background: #4085a9;
  margin-bottom: 15px;
  margin-left: 15px;
}

.chater {
  width: 150px;
  height: 40px;
  background: #ffbf11;
  margin-bottom: 5px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chater:hover {
  cursor: pointer;
  background: #005c8c;
}

.chat {
  width: 290px;
  height: 425px;
  background: #005c8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.number {
  font-size: 95px;
  font-weight: 50px;
  line-height: 20px;
  font-weight: bold;
  font-family: 'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

.placeholder {
  color: red;
}

.alive {
  height: 150px;
  width: 1183px;
  margin-bottom: -10px;
  margin-left: -4px;
  background: url(/img/coupon.jpg);
  background: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alive .cupon {
  height: 50px;
  width: 200px;
  background: #005c8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cupon span {
  color: #ffbf11;
  font: bold;
}

.kubok span {
  color: #005c8c;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

.cupon:hover {
  cursor: pointer;
  background-color: black;
}

.click {
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
}

.click:hover {
  cursor: pointer;
}

#feedback {
  height: 506px;
  margin-bottom: 5px;
  margin-left: -7px;
}

.inside {
  background: url(/img/feedback.jpg);
  background: cover;
  background-repeat: no-repeat;
  width: 1183px;
  height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comment {
  background: url(/img/feedback.jpg);
  background-size: cover;
  width: 1183px;
  height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.part {
  height: 286px;
  width: 286px;
  margin-top: 60px;
}

.lake {
  width: 286px;
  height: 213px;
  border: 1px solid #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kura_first {
  padding-left: 15px;
  line-height: 26px;
}

.kura_first span {
  color: white;
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.kura {
  margin-bottom: 20px;
  display: block;
  color: #ffba13;
  text-align: left;
  font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  background-color: transparent;
}

.caspi {
  width: 200px;
  height: 50px;
  border: 1px solid white;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.araz {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.araz_one {
  background-size: cover;
  height: 50px;
  width: 50px;
  display: inline-block;
}

.samur {
  height: 50px;
  width: 150px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.samur h4 {
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.kuba {
  position: absolute;
  font-size: 15px;
  top: 10px;
  left: 60px;
  color: white;
}

.voda {
  position: absolute;
  top: 110px;
  height: 4px;
  width: 50px;
}

#do {
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 1px;
}

#do .not-active {
  height: 170px;
  background: gray;
  width: 1183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#do .active {
  height: 500px;
  width: 1183px;
  background: gray;
}

.read {
  width: 115px;
  height: 45px;
  background-color: #ffbf11;
  font-weight: bold;
  font-size: 25px;
  font: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.read :hover {
  background-color: #005c8c;
  cursor: pointer;
  width: 100%;
}

#partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  width: 1300px;
}

.sponsor {
  height: 215px;
  position: relative;
  left: 13px;
}

#before {
  height: 150px;
  width: 1300px;
  position: relative;
  left: 18px;
}

.line {
  height: 150px;
  width: 1183px;
  background-color: #005c8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.writing span {
  font-size: 24px;
  color: white;
  font-weight: 700;
}

.new-one {
  height: 55px;
  width: 200px;
  background: #ffbf11;
}

.new-one:hover {
  background: white;
  cursor: pointer;
}

.new-one span {
  color: black;
  font-size: 15px;
  font-weight: 700;
}

#footer {
  height: 500px;
  width: 1300px;
  background: white;
}

.first_part {
  height: 320px;
  position: relative;
  width: 1183px;
  background: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leftest {
  background: white;
  width: 50px;
}

.leftesttwo {
  background: red;
  width: 300px;
}

.second_part {
  height: 105px;
  width: 1183px;
  background: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.my_last_logo {
  height: 130px;
  background: #1c1c1c;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zeng {
  height: 105px;
  width: 400px;
  background: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zeng span {
  font-size: 36px;
  line-height: 42px;
  color: #ffbf11;
  font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.salam {
  height: 105px;
  width: 15px;
  background: orange;
}

.third_part {
  height: 75px;
  width: 1183px;
  background: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pismo {
  height: 60px;
  width: 600px;
  position: absolute;
  left: 120px;
  top: -50 px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1c1c1c;
}

.pismo span {
  color: rgba(255, 255, 255, 0.45);
}

.social {
  height: 70px;
  background: #1c1c1c;
}

.kontakti {
  height: 240px;
  background: #1c1c1c;
  width: 222px;
  position: absolute;
  left: 100px;
  bottom: 55px;
}

.kontakti h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.contact_widget_email {
  display: block;
  padding-bottom: 20px;
  padding-left: 33px;
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  color: rgba(255, 255, 255, 0.45);
}

.contact_widget_email .email {
  color: rgba(255, 255, 255, 0.45);
}

.contact_widget_email .email:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.contact_widget_phone {
  display: block;
  padding-bottom: 20px;
  padding-left: 33px;
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  color: rgba(255, 255, 255, 0.45);
}

.adres_icon_user_adres {
  display: block;
  padding-bottom: 20px;
  padding-left: 33px;
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  color: rgba(255, 255, 255, 0.45);
}

.site_map {
  background: #1c1c1c;
  width: 222px;
  height: 240px;
  position: absolute;
  left: 352px;
  bottom: 55px;
}

.site_map h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 40px;
}

.site_map ul {
  position: absolute;
  left: 0px;
  width: 212px;
  margin-left: -40px;
}

.site_map li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 7px;
  color: rgba(255, 255, 255, 0.45);
}

.site_map li:hover {
  color: white;
  cursor: pointer;
}

.popular {
  height: 240px;
  width: 222px;
  background: #1c1c1c;
  position: absolute;
  left: 600px;
  bottom: 55px;
}

.popular h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 40px;
}

.popular ul {
  position: absolute;
  left: 0px;
  width: 212px;
  margin-left: -40px;
}

.popular li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 7px;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.45);
}

.popular li:hover {
  color: white;
  cursor: pointer;
}

.open_hours {
  height: 240px;
  width: 222px;
  background: #1c1c1c;
  position: absolute;
  left: 842px;
  bottom: 55px;
}

.open_hours h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 40px;
}

.open_hours ul {
  position: absolute;
  left: 0px;
  width: 212px;
  margin-left: -40px;
}

.open_hours li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 7px;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.45);
}

.open_hours li:hover {
  color: white;
  cursor: pointer;
}

#linkedin {
  color: rgba(255, 255, 255, 0.45);
  margin-left: 13px;
  margin-bottom: 20px;
}

#linkedin:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#facebook {
  color: rgba(255, 255, 255, 0.45);
  margin-left: 13px;
  margin-bottom: 20px;
}

#facebook:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#gmail {
  color: rgba(255, 255, 255, 0.45);
  margin-left: 13px;
  margin-bottom: 20px;
}

#gmail:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#twitter {
  color: rgba(255, 255, 255, 0.45);
  margin-left: 13px;
  margin-bottom: 20px;
}

#twitter:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#skype {
  color: rgba(255, 255, 255, 0.45);
  margin-left: 13px;
  margin-bottom: 20px;
}

#skype:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#elephant {
  position: absolute;
  left: 0px;
  top: 102px;
  color: #ffbf11;
}

#telephonics {
  color: #ffbf11;
  position: absolute;
  left: -20px;
  top: 142px;
  size: 15px;
}

#locationics {
  color: #ffbf11;
  position: absolute;
  left: -20px;
  top: 182px;
}

#call_telephone {
  color: white;
  font-size: 30px;
  margin-right: 20px;
}

.parameter {
  font-size: 15px;
  width: 35px;
  height: 3px;
  margin-top: -25px;
}

.parameter_one {
  font-size: 15px;
  width: 35px;
  height: 3px;
  margin-top: -37px;
}

.parameter_two {
  font-size: 15px;
  width: 35px;
  height: 3px;
  margin-top: -25px;
}

.parameter_three {
  font-size: 15px;
  width: 35px;
  height: 3px;
  margin-top: -25px;
}

.kartina {
  width: 1183px;
  height: 206px;
  background: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.second-main {
  width: 1183px;
  height: 776px;
  background: gray;
}

.sponsors {
  width: 1183px;
  height: 210px;
  background: url(/img/second-partners.png);
}

#footer {
  height: 500px;
  width: 1300px;
  background: black;
}

.first_part {
  height: 320px;
  width: 1183px;
  background: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second_part {
  height: 105px;
  width: 1183px;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.my_last_logo {
  height: 105px;
  background: blue;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zeng {
  height: 105px;
  width: 400px;
  background: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zeng span {
  font-size: 26px;
  font: red;
}

.salam {
  height: 105px;
  width: 15px;
  background: orange;
}

.third_part {
  height: 75px;
  width: 1183px;
  background: violet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pismo {
  height: 75px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: orange;
}

.social {
  height: 75px;
  background: yellow;
}

.kontakti {
  height: 240px;
  background: white;
}

.site_map {
  background: gray;
  height: 240px;
}

.popular {
  height: 240px;
  background: red;
}

.open_hours {
  height: 240px;
  background: black;
}

.kartina {
  width: 1183px;
  height: 206px;
  background: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

#electrical-main {
  height: 550px;
}

.just_list {
  position: absolute;
  left: 170px;
}

.just_list ul {
  width: 190px;
}

.just_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.just_list li:hover {
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.main_text {
  position: absolute;
  left: 450px;
  width: 725px;
}

.birinci_image {
  width: 205px;
  height: 145px;
}

.ikinci_image {
  width: 205px;
  height: 145px;
  padding-left: 40px;
}

.ucuncu_image {
  width: 205px;
  height: 145px;
  padding-left: 40px;
}

#electrical-table {
  height: 350px;
  background: yellow;
}

#electrical_request_bar {
  height: 500px;
}

.make {
  background: red;
  width: 700px;
  height: 430px;
}

.main_electrical {
  height: 307px;
  width: 700px;
}

#footer {
  height: 500px;
  width: 1183px;
  position: absolute;
  left: 76px;
}

.first_part {
  height: 320px;
  position: relative;
  width: 1183px;
  background: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leftest {
  background: white;
  width: 50px;
}

.leftesttwo {
  background: red;
  width: 300px;
}

.second_part {
  height: 105px;
  width: 1183px;
  background: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.my_last_logo {
  height: 130px;
  background: #1c1c1c;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zeng {
  height: 105px;
  width: 400px;
  background: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zeng span {
  font-size: 36px;
  line-height: 42px;
  color: #ffbf11;
  font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.salam {
  height: 105px;
  width: 15px;
  background: orange;
}

.third_part {
  height: 75px;
  width: 1183px;
  background: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pismo {
  height: 60px;
  width: 600px;
  position: absolute;
  left: 120px;
  top: -50 px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1c1c1c;
}

.pismo span {
  color: rgba(255, 255, 255, 0.45);
}

.social {
  height: 70px;
  background: #1c1c1c;
}

.kontakti {
  height: 240px;
  background: #1c1c1c;
  width: 222px;
  position: absolute;
  left: 100px;
  bottom: 55px;
}

.kontakti h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.contact_widget_email {
  display: block;
  padding-bottom: 20px;
  padding-left: 33px;
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  color: rgba(255, 255, 255, 0.45);
}

.contact_widget_email .email {
  color: rgba(255, 255, 255, 0.45);
}

.contact_widget_email .email:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.contact_widget_phone {
  display: block;
  padding-bottom: 20px;
  padding-left: 33px;
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  color: rgba(255, 255, 255, 0.45);
}

.adres_icon_user_adres {
  display: block;
  padding-bottom: 20px;
  padding-left: 33px;
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  color: rgba(255, 255, 255, 0.45);
}

.site_map {
  background: #1c1c1c;
  width: 222px;
  height: 240px;
  position: absolute;
  left: 352px;
  bottom: 55px;
}

.site_map h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 40px;
}

.site_map ul {
  position: absolute;
  left: 0px;
  width: 212px;
  margin-left: -40px;
}

.site_map li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 7px;
  color: rgba(255, 255, 255, 0.45);
}

.site_map li:hover {
  color: white;
  cursor: pointer;
}

.popular {
  height: 240px;
  width: 222px;
  background: #1c1c1c;
  position: absolute;
  left: 600px;
  bottom: 55px;
}

.popular h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 40px;
}

.popular ul {
  position: absolute;
  left: 0px;
  width: 212px;
  margin-left: -40px;
}

.popular li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 7px;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.45);
}

.popular li:hover {
  color: white;
  cursor: pointer;
}

.open_hours {
  height: 240px;
  width: 222px;
  background: #1c1c1c;
  position: absolute;
  left: 842px;
  bottom: 55px;
}

.open_hours h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 40px;
}

.open_hours ul {
  position: absolute;
  left: 0px;
  width: 212px;
  margin-left: -40px;
}

.open_hours li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 7px;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.45);
}

.open_hours li:hover {
  color: white;
  cursor: pointer;
}

#linkedin {
  color: rgba(255, 255, 255, 0.45);
  margin-left: 13px;
  margin-bottom: 20px;
}

#linkedin:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#facebook {
  color: rgba(255, 255, 255, 0.45);
  margin-left: 13px;
  margin-bottom: 20px;
}

#facebook:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#gmail {
  color: rgba(255, 255, 255, 0.45);
  margin-left: 13px;
  margin-bottom: 20px;
}

#gmail:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#twitter {
  color: rgba(255, 255, 255, 0.45);
  margin-left: 13px;
  margin-bottom: 20px;
}

#twitter:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#skype {
  color: rgba(255, 255, 255, 0.45);
  margin-left: 13px;
  margin-bottom: 20px;
}

#skype:hover {
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#elephant {
  position: absolute;
  left: 0px;
  top: 102px;
  color: #ffbf11;
}

#telephonics {
  color: #ffbf11;
  position: absolute;
  left: -20px;
  top: 142px;
  size: 15px;
}

#locationics {
  color: #ffbf11;
  position: absolute;
  left: -20px;
  top: 182px;
}

#call_telephone {
  color: white;
  font-size: 30px;
  margin-right: 20px;
}

.parameter {
  font-size: 15px;
  width: 35px;
  height: 3px;
  margin-top: -25px;
}

.parameter_one {
  font-size: 15px;
  width: 35px;
  height: 3px;
  margin-top: -37px;
}

.parameter_two {
  font-size: 15px;
  width: 35px;
  height: 3px;
  margin-top: -25px;
}

.parameter_three {
  font-size: 15px;
  width: 35px;
  height: 3px;
  margin-top: -25px;
}
/*# sourceMappingURL=style.css.map */