.container {
  width: 1200px;
  margin: 0 auto;
}

.container-full {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[class^="col-"] {
  margin: 5px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.header_top_right {
  height: 40px;
  border: 3px solid red;
}

.menu {
  height: 100px;
  border: 2px solid green;
}

.menu .logo {
  height: 100px;
  border: 1px solid yellow;
}

.menu .nav {
  height: 100px;
  border: 1px solid blue;
}

.menu .icon {
  height: 100px;
  border: 1px solid black;
}

.header-nav {
  border-bottom: 1px solid gray;
}

.header-nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .header-nav-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .header-nav-items ul li {
  list-style: none;
  margin: 0px 10px;
  display: inline-block;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
}

button {
  border: none;
  background: none;
}

.header-nav .button {
  background-color: #005c8c;
  background: cover;
  border-radius: 5px;
  width: 160px;
  height: 45px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .button .yazi {
  color: #ffbf11;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: bold;
}

.button:hover {
  background-color: #ffbf11;
  cursor: pointer;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover .yazi {
  color: black;
}

.slider {
  height: 370px;
  width: 1183px;
  background: url(/img/hands-house.jpg);
  background-size: cover;
}

.slider .layout {
  height: 370px;
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.press {
  width: 140px;
  height: 40px;
  background-color: white;
}

.press:hover {
  background-color: #005c8c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.contact {
  background-color: #ffbf11;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.contact:hover {
  background-color: #005c8c;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.yaz {
  color: white;
  font-size: 22px;
}

.catalogue {
  width: 1180px;
  height: 480px;
  background: url(/img/2-2.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout {
  width: 940px;
  height: 340px;
}

.layout .plumbing {
  background: url(/img/plumbing.jpg);
  background-size: cover;
  height: 150px;
  width: 205px;
  margin: 0px;
}

.layout .renovation {
  background: url(/img/renovation.jpg);
  background-size: cover;
  width: 205px;
  height: 150px;
  margin: 0px;
}

.layout .assembly {
  width: 205px;
  height: 150px;
  background: url(/img/asembly.jpg);
  background-size: cover;
}

.layout .windows {
  width: 205px;
  height: 150px;
  background: url(/img/windows.jpg);
  background-size: cover;
}

.layout .painting {
  width: 205px;
  height: 150px;
  background: url(/img/painting.jpg);
  background-size: cover;
}

.layout .electrical {
  width: 205px;
  height: 150px;
  background: url(/img/electrical.jpg);
  background-size: cover;
}

.layout .carpentry {
  width: 205px;
  height: 150px;
  background: url(/img/carpentry.jpg);
  background-size: cover;
}

.layout .flooring {
  width: 205px;
  height: 150px;
  background: url(/img/flooring.jpg);
  background-size: cover;
}

.plumbing {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  color: white;
}

.plumbing:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.plumbing a:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
}

.plumbing a {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  color: white;
}

.renovation {
  font-size: 26px;
  font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.renovation:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.renovation span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.windows {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.windows:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.windows span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.carpentry {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.carpentry:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.carpentry span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.painting {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.painting:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.painting span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.electrical {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.electrical:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.electrical span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.flooring {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.flooring:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.flooring span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

.assembly {
  font-size: 26px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.assembly:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.assembly span:hover {
  font-size: 26px;
  cursor: pointer;
  color: #ffbf11;
  border-bottom: 2px solid #ffbf11;
}

#statistics {
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.numbers {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.numbers .col-2 {
  height: 90px;
  width: 200px;
  display: inline-block;
}

.quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.quality span {
  font-size: 48px;
  font-weight: 10px;
  line-height: 15px;
  font-weight: bold;
  font-family: 'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  color: #ffbf11;
}

.quality
.projects_done {
  font-weight: bold;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects_done span {
  font-size: 48px;
  font-weight: 10px;
  line-height: 15px;
  font-weight: bold;
  font-family: 'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  color: #ffbf11;
}

.people_working span {
  font-size: 48px;
  font-weight: 10px;
  line-height: 15px;
  font-weight: bold;
  font-family: 'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  color: #ffbf11;
}

.business_partners span {
  font-size: 48px;
  font-weight: 10px;
  line-height: 15px;
  font-weight: bold;
  font-family: 'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  color: #ffbf11;
}

.happy_clients span {
  font-size: 48px;
  font-weight: 10px;
  line-height: 15px;
  font-weight: bold;
  font-family: 'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  color: #ffbf11;
}

#about_us {
  height: 700px;
}

#about_us .info {
  height: 150px;
  width: 1180px;
}

#about_us .main {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.full-view {
  background: url(/img/about_us.jpg);
  height: 700px;
  width: 1183px;
}

.birinci {
  margin-bottom: 15px;
  margin-left: 15px;
}

.birinci span {
  color: #ffbf11;
  font-weight: 700;
}

#fname {
  background: #4085a9;
  margin-bottom: 15px;
  margin-left: 15px;
}

#email {
  background: #4085a9;
  margin-bottom: 15px;
  margin-left: 15px;
}

#phone {
  background: #4085a9;
  margin-bottom: 15px;
  margin-left: 15px;
}

#area {
  background: #4085a9;
  margin-bottom: 15px;
  margin-left: 15px;
}

.chater {
  width: 150px;
  height: 40px;
  background: #ffbf11;
  margin-bottom: 5px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chater:hover {
  cursor: pointer;
  background: #005c8c;
}

.chat {
  width: 290px;
  height: 425px;
  background: #005c8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.number {
  font-size: 95px;
  font-weight: 50px;
  line-height: 20px;
  font-weight: bold;
  font-family: 'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  color: #ffbf11;
}

.alive {
  height: 150px;
  width: 1183px;
  background: url(/img/coupon.jpg);
  background: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alive .cupon {
  height: 50px;
  width: 200px;
  background: #005c8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cupon span {
  color: #ffbf11;
  font: bold;
}

.kubok span {
  color: #005c8c;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

.cupon:hover {
  cursor: pointer;
  background-color: black;
}

.click {
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
}

.click:hover {
  cursor: pointer;
}

#feedback {
  height: 506px;
}

.inside {
  background: url(/img/feedback.jpg);
  background: cover;
  background-repeat: no-repeat;
  width: 1183px;
  height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#do {
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#do .not-active {
  height: 170px;
  background: gray;
  width: 1183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#do .active {
  height: 500px;
  width: 1183px;
  background: gray;
}

.read {
  width: 115px;
  height: 45px;
  background-color: #ffbf11;
  font-weight: bold;
  font-size: 25px;
  font: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.read :hover {
  background-color: #005c8c;
  cursor: pointer;
  width: 100%;
}

#partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  width: 1300px;
}

.sponsors {
  background: url(/img/partners.png);
  height: 215px;
}

#before {
  height: 150px;
  width: 1300px;
}

.line {
  height: 150px;
  width: 1300px;
  background-color: #005c8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.writing span {
  font-size: 24px;
  color: white;
  font-weight: 700;
}

.new-one {
  height: 55px;
  width: 200px;
  background: #ffbf11;
}

.new-one:hover {
  background: white;
  cursor: pointer;
}

.new-one span {
  color: black;
  font-size: 15px;
  font-weight: 700;
}

#footer {
  height: 500px;
  width: 1300px;
  background: black;
}

.first_part {
  height: 320px;
  width: 1183px;
  background: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second_part {
  height: 105px;
  width: 1183px;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.my_last_logo {
  height: 105px;
  background: blue;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zeng {
  height: 105px;
  width: 400px;
  background: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zeng span {
  font-size: 26px;
  font: red;
}

.salam {
  height: 105px;
  width: 15px;
  background: orange;
}

.third_part {
  height: 75px;
  width: 1183px;
  background: violet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pismo {
  height: 75px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: orange;
}

.social {
  height: 75px;
  background: yellow;
}

.kontakti {
  height: 240px;
  background: white;
}

.site_map {
  background: gray;
  height: 240px;
}

.popular {
  height: 240px;
  background: red;
}

.open_hours {
  height: 240px;
  background: black;
}
/*# sourceMappingURL=style.css.map */