#about_us{
    height: 700px;
    
    .info{
        height: 150px;
        width: 1180px;
       
        
    }
    .main{
        width: 1180px;
        display: flex;
        justify-content: space-around;
        
        
    }
}


.full-view{
    background: url(/img/about_us.jpg);
    height: 700px;
    width: 1183px;
}
.chat{
    width: 290px;
    height:425px;
    background:#005c8c;
}


.number{
    font-size: 90px;
    font-weight: 50px;
}

  