.catalogue{
    width: 1180px;
    height:480px;
    background: url(/img/2-2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.layout{
    justify-content: center;
    align-items: center;
    
    .first{
        display: flex;
        justify-content: space-between;
        
    }
    .second{
        display: flex;
        justify-content: space-between;
        
    }
}

.layout{
    width: 940px;
    height: 340px;
    
    
    
    
         .plumbing{
            background: url(/img/plumbing.jpg);
            background-size: cover;
            height: 150px;
            width: 205px;
            margin: 0px;
            
            
        }
        .renovation{
            background: url(/img/renovation.jpg);
            background-size: cover;
            width: 205px;
            height: 150px;
            margin: 0px;
        }
        .assembly{
            width: 205px;
            height: 150px;
            background: url(/img/asembly.jpg);
            background-size: cover;
        }
        .windows{
            width: 205px;
            height: 150px;
            background: url(/img/windows.jpg);
            background-size: cover;
        }
        .painting{
            width: 205px;
            height: 150px;
            background: url(/img/painting.jpg);
            background-size: cover;
            
        }
        .electrical{
            width: 205px;
            height: 150px;
            background: url(/img/electrical.jpg);
            background-size: cover;
        }
        .carpentry{
            width: 205px;
            height: 150px;
            background: url(/img/carpentry.jpg);
            background-size: cover;
        }
        .flooring{
            width: 205px;
            height: 150px;
            background: url(/img/flooring.jpg);
            background-size: cover;
        }
    
}

//.service {
   // .row {
        //justify-content: center;
        //align-items: center;
        //justify-content: space-around;
        
  ////  }
//}


.plumbing{
   font-size: 32px;
   font-family: fantasy;
   font-weight: normal;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform .2s;
   
   

  
} 
.plumbing:hover{

    cursor: pointer;
    transform: scale(1.1);
    

    
}

.renovation{
   font-size: 32px;
   font-family: fantasy;
   font-weight: normal;
   display: flex;
   justify-content: center;
   align-items: center;

}

.renovation:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;  
}
.windows{
   font-size: 32px;
   font-family: fantasy;
   font-weight: normal;
   display: flex;
   justify-content: center;
   align-items: center;
}
.windows:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;  
}
.carpentry{
    font-size: 32px;
   font-family: fantasy;
   font-weight: normal;
   display: flex;
   justify-content: center;
   align-items: center;
}
.carpentry:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;  
}
.painting{
    font-size: 32px;
   font-family: fantasy;
   font-weight: normal;
   display: flex;
   justify-content: center;
   align-items: center;
}
.painting:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;  
}
.electrical{
    font-size: 32px;
   font-family: fantasy;
   font-weight: normal;
   display: flex;
   justify-content: center;
   align-items: center;
}
.electrical:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;  
}
.flooring{
    font-size: 32px;
   font-family: fantasy;
   font-weight: normal;
   display: flex;
   justify-content: center;
   align-items: center;
}
.flooring:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;  
}

.assembly{
    font-size: 32px;
   font-family: fantasy;
   font-weight: normal;
   display: flex;
   justify-content: center;
   align-items: center;
}
.assembly:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;  
}


