#feedback{
    height: 506px;
    
}

.inside{
    background: url(/img/feedback.jpg);
    background:cover;
    background-repeat: no-repeat;
    width: 1183px;
    height: 506px;
    display: flex;
    align-items: center;
    justify-content: center;

}