#partners{
    display: flex;
    justify-content: center;
    align-items: center;
    height:215px;
    width: 1300px;
    
    
    
}

.sponsors{
    background: url(/img/partners.png);
    height: 215px;
    
}

