.slider {
    height: 370px;
    width: 1183px;
    background: url(/img/hands-house.jpg);
    background-size: cover;
    
    border: 2px solid red;
    .layout{
        height:370px;
        width: 1180px;  
        display:flex;
        justify-content: center;
        align-items: center;
        }
}

.press{
    width: 140px;
    height: 40px;
    background-color: white;
  
    
}
.press:hover{
    background-color:  #005c8c;
    transition:0.5s;
    cursor: pointer;
}

.contact{
    background-color: #ffbf11;
    width:100px;
    height: 40px;
    border-radius: 5px;
}


.contact:hover{
    background-color: #005c8c;
    width: 100px;
    height: 40px;
    cursor: pointer;
}