#about_us{
    height: 700px;
    .info{
        height: 150px;
        width: 1180px;
        border: 1px solid green;
        
    }
    .main{
        width: 1180px;
        display: flex;
        justify-content: space-around;
        .col-4{
            height: 445px;
            width: 330px;
            border: 2px solid black;
            display: inline-block;
            
        }
        
    }
}