.statistics{
    height: 217px;
    border: yellow;
    .box1{
        height: 217px;
        border: 1px solid red;
    }
    .box2{
        height: 217px;
        border: 1px solid red;
    }
    .box3{
        height: 217px;
        border: 1px solid red;
    }
    .box4{
        height: 217px;
        border: 1px solid red;
    }
    .box5{
        height:217px;
        border: 1px solid red;    }
}
