.container {
  width: 1200px;
  margin: 0 auto;
}

.container-full {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[class^="col-"] {
  margin: 5px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.header_top_left {
  height: 40px;
  border: 3px solid black;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header_top_left .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header_top_left .ul .il {
  display: inline-block;
}

.header_top_right {
  height: 40px;
  border: 3px solid red;
}

.menu {
  height: 100px;
  border: 2px solid green;
}

.menu .logo {
  height: 100px;
  border: 1px solid yellow;
}

.menu .nav {
  height: 100px;
  border: 1px solid blue;
}

.menu .icon {
  height: 100px;
  border: 1px solid black;
}

.header-nav {
  border-bottom: 1px solid gray;
}

.header-nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav .header-nav-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .header-nav-items ul li {
  list-style: none;
  margin: 0px 10px;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logos .span {
  margin-left: 20px;
}

button {
  border: none;
  background: none;
}

.header-nav .button {
  background-color: #005c8c;
  background: cover;
  border-radius: 5px;
  width: 160px;
  height: 45px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button:hover {
  background-color: #ffbf11;
  cursor: pointer;
  width: 100%;
  -webkit-transition: duration 0.7s;
  transition: duration 0.7s;
}

.slider {
  height: 370px;
  width: 1183px;
  background: url(/img/hands-house.jpg);
  background-size: cover;
  border: 2px solid red;
}

.slider .layout {
  height: 370px;
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.press {
  width: 140px;
  height: 40px;
  background-color: white;
}

.press:hover {
  background-color: #005c8c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.contact {
  background-color: #ffbf11;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.contact:hover {
  background-color: #005c8c;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.catalogue {
  width: 1180px;
  height: 480px;
  background: url(/img/2-2.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout {
  width: 940px;
  height: 340px;
}

.layout .plumbing {
  background: url(/img/plumbing.jpg);
  background-size: cover;
  height: 150px;
  width: 205px;
  margin: 0px;
}

.layout .renovation {
  background: url(/img/renovation.jpg);
  background-size: cover;
  width: 205px;
  height: 150px;
  margin: 0px;
}

.layout .assembly {
  width: 205px;
  height: 150px;
  background: url(/img/asembly.jpg);
  background-size: cover;
}

.layout .windows {
  width: 205px;
  height: 150px;
  background: url(/img/windows.jpg);
  background-size: cover;
}

.layout .painting {
  width: 205px;
  height: 150px;
  background: url(/img/painting.jpg);
  background-size: cover;
}

.layout .electrical {
  width: 205px;
  height: 150px;
  background: url(/img/electrical.jpg);
  background-size: cover;
}

.layout .carpentry {
  width: 205px;
  height: 150px;
  background: url(/img/carpentry.jpg);
  background-size: cover;
}

.layout .flooring {
  width: 205px;
  height: 150px;
  background: url(/img/flooring.jpg);
  background-size: cover;
}

.plumbing {
  font-size: 32px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.plumbing:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.renovation {
  font-size: 32px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.renovation:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.windows {
  font-size: 32px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.windows:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.carpentry {
  font-size: 32px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carpentry:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.painting {
  font-size: 32px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.painting:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.electrical {
  font-size: 32px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.electrical:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.flooring {
  font-size: 32px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flooring:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.assembly {
  font-size: 32px;
  font-family: fantasy;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.assembly:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

#statistics {
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.numbers {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.numbers .col-2 {
  height: 90px;
  width: 200px;
  border: 1px solid yellow;
  display: inline-block;
}

.quality {
  font-weight: bold;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects_done {
  font-weight: bold;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about_us {
  height: 700px;
  background: url(/img/about_us.jpg);
}

#about_us .info {
  height: 150px;
  width: 1180px;
  border: 1px solid green;
}

#about_us .main {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chat {
  width: 290px;
  height: 425px;
  background: #005c8c;
}

.number span {
  font-size: 700px;
}

.alive {
  height: 150px;
  background: url(/img/coupon.jpg);
  background: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alive .cupon {
  height: 50px;
  width: 200px;
  background: #005c8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cupon:hover {
  cursor: pointer;
  background-color: yellow;
}

.click {
  height: 50px;
  width: 200px;
}

.click:hover {
  cursor: pointer;
}

#feedback {
  height: 506px;
}

.inside {
  background: url(/img/feedback.jpg);
  background: cover;
  background-repeat: no-repeat;
  width: 1183px;
  height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#do {
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#do .not-active {
  height: 170px;
  border: 1px solid red;
  width: 1183px;
}

#do .active {
  height: 500px;
  width: 1183px;
  border: 1px solid violet;
}

.read {
  width: 115px;
  height: 45px;
  background-color: #ffbf11;
  font-weight: bold;
  font-size: 25px;
  font: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.read :hover {
  background-color: #005c8c;
  cursor: pointer;
  width: 100%;
}

#partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  width: 1300px;
  background: url(/img/partners.png);
}

#before {
  height: 120px;
  width: 1300px;
}

.line {
  height: 150px;
  width: 1300px;
  background-color: #005c8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-one {
  height: 55px;
  width: 200px;
  background: yellow;
}

.new-one:hover {
  background: white;
  cursor: pointer;
}

#footer {
  height: 400px;
  width: 1300px;
}

#footer .container {
  width: 1300px;
  height: 400px;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */