#about_us{
    height: 700px;
    margin-bottom: -5px;
    margin-left: -5px;
    
    .info{
        height: 150px;
        width: 1180px;
       
        
    }
    .main{
        width: 1180px;
        display: flex;
        justify-content: space-around;
        
        
    }
}


.full-view{
    background: url(/img/about_us.jpg);
    height: 700px;
    width: 1183px;
}

.birinci{
    margin-bottom: 15px;
    margin-left: 15px;
}

.birinci span{
    
    color:#ffbf11;
    font-weight: 700;
}
#fname{
    background: #4085a9;
    margin-bottom: 15px;
    margin-left: 15px;

}
#email{
    background: #4085a9 ;
    margin-bottom: 15px;
    margin-left: 15px;
}
#phone{
    background: #4085a9 ;
    margin-bottom: 15px;
    margin-left: 15px;
}
#area{
    background: #4085a9 ;
    margin-bottom: 15px;
    margin-left: 15px;
}
.chater{
    width: 150px;
    height: 40px;
    background:#ffbf11;
    margin-bottom: 5px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    

}
.chater:hover{
    cursor: pointer;
    background: #005c8c;
    
}



    
.chat{
    width: 290px;
    height:425px;
    background:#005c8c;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
}


.number{
    font-size: 95px;
    font-weight: 50px;
    line-height: 20px;
    font-weight: bold;
    font-family:  'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

.placeholder{
    color: red;
}