#feedback{
    height: 506px;
    
}

.inside{
    background: url(/img/feedback.jpg);
    background:cover;
    background-repeat: no-repeat;
    width: 1183px;
    height: 506px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.comment{
    background: url(/img/feedback.jpg);
    background-size:cover;
    width: 1183px;
    height: 506px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
    
}

.part{
    height: 286px;
    width: 286px;
    margin-top: 60px;
    
}

.lake{
    width:286px;
    height: 213px;
    border: 1px solid #e8e8e8;
    display:flex;
    
    
    
}

.kura_first{
    padding-left: 15px;
    line-height: 26px;
}
.kura_first span{
    color: white;
    
    font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
}

.kura{
    margin-bottom: 20px;
    display: block;
    color: #ffba13;
    text-align: left;
    font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
   
    background-color: transparent;
}

.caspi{
    width: 200px;
    height: 50px;
    border: 1px solid white;
    margin-top: 20px;
    display: flex;
}

.araz{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.araz_one{
    background-size: cover;
    height: 50px;
    width: 50px;
    display: inline-block;

}
.samur{
    height: 50px;
    width: 150px;
    background: black;
    display: flex;
    
}

.samur h4{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    
}

.kuba{
    position: absolute;
    font-size: 15px;
    top:10px;
    left: 60px;
    color: white;
}

.voda{
    position: absolute;
    top: 110px;
    height: 4px;
    width: 50px;
}
