#footer{
    height: 500px;
    width: 1300px;
    background: black;
}


.first_part{
    height: 320px;
    width: 1183px;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_part{
    height: 105px;
    width: 1183px;
    background: red;
    display: flex;
    justify-content: flex-start;
}
.my_last_logo{
    height: 105px;
    background: blue;
    width: 600px;
    display: flex;
    //justify-content: center;
    align-items: center;
}
.zeng{
    height: 105px;
    width: 400px;
    background:green;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.zeng span{
    font-size: 26px;
    font: red;
}
.salam{
    height: 105px;
    width: 15px;
    background: orange;
}


.third_part{
    height: 75px;
    width: 1183px;
    background: violet;
    display: flex;
}

.pismo{
    height: 75px;
    width:600px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: orange;
}
.social{
    height: 75px;
    background: yellow;
}

.kontakti{
    height: 240px;
    background: white;

}

.site_map{
    background: gray;
    height: 240px;

}
.popular{
    height: 240px;
    background: red;
}
.open_hours{
    height: 240px;
    background:black;
}