#partners{
    display: flex;
    justify-content: center;
    align-items: center;
    height:215px;
    width: 1300px;
    
    
    
    
}

.sponsor{
    
    height: 215px;
    position: relative;
    left: 13px;
    
}

