#statistics{
    height: 217px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/img/stats.png);
    margin-left: 70px;
    border-left: 1px solid black;
}  

