#statistics{
    height: 217px;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.numbers{
    background: white;
    
    display:flex;
   
    .col-2{
        height: 90px;
        width: 200px;
        
        display: inline-block;
    }
}


.quality{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.quality span{
    font-size: 48px;
    font-weight: 10px;
    line-height: 15px;
    font-weight: bold;
    font-family:  'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color:#ffbf11;
    
}
.quality

.projects_done{
    font-weight: bold;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.projects_done span{
    font-size: 48px;
    font-weight: 10px;
    line-height: 15px;
    font-weight: bold;
    font-family:  'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color:#ffbf11;
    
}

.people_working span{
    font-size: 48px;
    font-weight: 10px;
    line-height: 15px;
    font-weight: bold;
    font-family:  'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color:#ffbf11;
    
}

.business_partners span{
    font-size: 48px;
    font-weight: 10px;
    line-height: 15px;
    font-weight: bold;
    font-family:  'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color:#ffbf11;
    
}

.happy_clients span{
    font-size: 48px;
    font-weight: 10px;
    line-height: 15px;
    font-weight: bold;
    font-family:  'Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color:#ffbf11;
    
}
