#footer{
    height: 500px;
    width: 1300px;
    
}


.first_part{
    height: 320px;
    position: relative;
    
    width: 1183px;
   background: #1c1c1c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leftest{
    background: white;
    width: 50px;
}
.leftesttwo{
    background: red;
    width: 300px;
}

.second_part{
    height: 105px;
    width: 1183px;
    background: #1c1c1c;
    display: flex;
    justify-content: flex-start;
}
.my_last_logo{
    height: 130px;
    background: #1c1c1c;
    width: 600px;
    display: flex;
    //justify-content: center;
    align-items: center;
}
.zeng{
    height: 105px;
    width: 400px;
    background:#1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.zeng span{
  
    font-size: 36px;
    line-height: 42px;
    color: #ffbf11;
    font-family: 'Titillium Web', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
   
    font-weight: 700;
    font-style: normal;
}

.salam{
    height: 105px;
    width: 15px;
    background: orange;
}


.third_part{
    height: 75px;
    width: 1183px;
    background:#1c1c1c;
    display: flex;
}

.pismo{
    height: 60px;
    width:600px;
    position: absolute;
    left: 120px;
    top:-50 px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #1c1c1c;
}
.pismo span{
    color: rgba(255,255,255,0.45);
}
.social{
    height: 70px;
    background: #1c1c1c;

}

.kontakti{
    height: 240px;
    background: #1c1c1c;
    width: 222px;
    position: absolute;
    left: 100px;
    bottom: 55px;

}

.kontakti h3{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    padding-bottom: 15px;
    margin-bottom: 40px;
    
}

.contact_widget_email{
    display: block;
    padding-bottom: 20px;
    padding-left: 33px;
    font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    
    color: rgba(255,255,255,0.45);
}
.contact_widget_email .email{
    color: rgba(255,255,255,0.45);
    &:hover{
        cursor: pointer;
        color: white;
        transition-duration: 0.6s;
    }
}


.contact_widget_phone{
    display: block;
    padding-bottom: 20px;
    padding-left: 33px;
    font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    color: rgba(255,255,255,0.45);

}
.adres_icon_user_adres{
    display: block;
    padding-bottom: 20px;
    padding-left: 33px;
    font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    color: rgba(255,255,255,0.45);

}

.site_map{
    background: #1c1c1c;
    width: 222px;
    height: 240px;
    position: absolute;
    left: 352px;
    bottom: 55px;

}

.site_map h3{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    padding-bottom: 0px;
    margin-bottom: 40px;
}

.site_map ul{
    position: absolute;
    left: 0px;
    width: 212px;
   
    margin-left: -40px;
    
    
}


.site_map li{
    border-bottom:  1px solid rgba(255,255,255,0.45);
    font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    list-style-type: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 7px;
    color: rgba(255,255,255,0.45);
    &:hover{
        color: white;
        cursor: pointer;
    }
}

.popular{
    height: 240px;
    width: 222px;
    background: #1c1c1c;
    position: absolute;
    left: 600px;
    bottom: 55px;
}
.popular h3{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    padding-bottom: 0px;
    margin-bottom: 40px;
}
.popular ul{
    position: absolute;
    left: 0px;
    width: 212px;
   
    margin-left: -40px;
    
    
}
.popular li{
    border-bottom:  1px solid rgba(255,255,255,0.45);
    font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    list-style-type: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 7px;
    padding-top: 10px;
    color: rgba(255,255,255,0.45);
    &:hover{
        color: white;
        cursor: pointer;
    }
}
.open_hours{
    height: 240px;
    width: 222px;
    background:#1c1c1c;
    position: absolute;
    left: 842px;
    bottom: 55px;
}

.open_hours h3{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    padding-bottom: 0px;
    margin-bottom: 40px;
}
.open_hours ul{
    position: absolute;
    left: 0px;
    width: 212px;
   
    margin-left: -40px;
    
    
}
.open_hours li{
    border-bottom:  1px solid rgba(255,255,255,0.45);
    font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    list-style-type: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 7px;
    padding-top: 10px;
    color: rgba(255,255,255,0.45);
    &:hover{
        color: white;
        cursor: pointer;
    }
}

#linkedin{
    color: rgba(255,255,255,0.45);
    margin-left: 13px;
    margin-bottom: 20px;
    &:hover{
        cursor: pointer;
        color: white;
        transition-duration: 0.6s;
    }
}

#facebook{
    color: rgba(255,255,255,0.45);
    margin-left: 13px;
    margin-bottom: 20px;
    
    &:hover{
        cursor: pointer;
        color: white;
        transition-duration: 0.6s;
    }
}

#gmail{
    color: rgba(255,255,255,0.45);
    margin-left: 13px;
    margin-bottom: 20px;
    &:hover{
        cursor: pointer;
        color: white;
        transition-duration: 0.6s;
    }
}

#twitter{
    color: rgba(255,255,255,0.45);
    margin-left: 13px;
    margin-bottom: 20px;
    &:hover{
        cursor: pointer;
        color: white;
        transition-duration: 0.6s;
    }
}

#skype{
    color: rgba(255,255,255,0.45);
    margin-left: 13px;
    margin-bottom: 20px;
    
    &:hover{
        cursor: pointer;
        color: white;
        transition-duration: 0.6s;
    }
}


#elephant{
    position: absolute;
    left: 0px;
    top: 102px;
    color: #ffbf11;
}


#telephonics{
    color: #ffbf11;
    position: absolute;
    left: -20px;
    top: 142px;
    size: 15px;
}

#locationics{
    color:  #ffbf11;
    position: absolute;
    left: -20px;
    top: 182px;

}

#call_telephone{
    color: white;
    font-size: 30px;
    margin-right: 20px;

}

.parameter{
    font-size: 15px;
    width: 35px;
    height: 3px;
    margin-top: -25px;
}
.parameter_one{
    font-size: 15px;
    width: 35px;
    height: 3px;
    margin-top: -37px;
}
.parameter_two{
    font-size: 15px;
    width: 35px;
    height: 3px;
    margin-top: -25px;
}
.parameter_three{
    font-size: 15px;
    width: 35px;
    height: 3px;
    margin-top: -25px;
}