#electrical_request_bar{
    height: 500px;
    
}


.make{
    background: red;
    width: 700px;
    height: 430px;

}

.main{
    background: blue;
    height: 307px;
    width: 700px;
}